

<mat-card class="cardWithShadow">
    <mat-card-content>
        <app-common-table
			(addNew)="navigateToCreateTransaction()"
            [columns]="columns"
            [displayedColumns]="columns"
            [data]="data"
            [headersColumns]="['Transaction Name', 'Amount', 'Quantity/Kg', 'Total Amount', 'Date', 'Actions']"
            [pageSize]="pageSize"
            [resultsLength]="resultsLength"
            [isLoadingResults]="isLoadingResults"
            [showSearch]="true"
            [showActions]="true"
            (search)="onTableSearch($event)"
            (pageChange)="onTablePage($event)"
            (sortChange)="onTableSort($event)">
        </app-common-table>
    </mat-card-content>
</mat-card>