<h2 mat-dialog-title>Make Transaction</h2>

<mat-card class="cardWithShadow theme-card">
    <!-- <mat-card-header>
        <mat-card-title class="m-b-0">Make Transaction</mat-card-title>
    </mat-card-header> -->
    <mat-card-content class="b-t-1">
        <form [formGroup]="transactionForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-lg-6">
                    <mat-label class="f-w-600 m-b-8 d-block">Name <span class="text-error">*</span></mat-label>
                    <mat-form-field appearance="outline" class="w-100" color="primary">
                        <input matInput placeholder="Enter Transaction " formControlName="transaction_name" />
                    </mat-form-field>
                </div>
                <div class="col-lg-6">
                    <mat-label class="f-w-600 m-b-8 d-block">Category <span class="text-error">*</span></mat-label>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-select [(value)]="selectedCategory" formControlName="category"
                            placeholder="Select Category">
                            @for(option of category; track option.value) {
                            <mat-option [value]="option.value">{{
                                option.viewValue
                                }}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-lg-6">
                    <mat-label class="f-w-600 m-b-8 d-block">Amount <span class="text-error">*</span></mat-label>
                    <mat-form-field appearance="outline" class="w-100" color="primary">
                        <input matInput type="number" placeholder="Enter Amount" formControlName="amount" />
                    </mat-form-field>
                </div>
                <div class="col-lg-6">
                    <mat-label class="f-w-600 m-b-8 d-block">Quantity/Kg <span class="text-error">*</span></mat-label>
                    <mat-form-field appearance="outline" class="w-100" color="primary">
                        <input matInput type="number" placeholder="Enter Quantity/Kg"
                            formControlName="quantity_or_kg" />
                    </mat-form-field>
                </div>
                <div class="col-lg-6">
                    <mat-label class="f-w-600 m-b-8 d-block">Date <span class="text-error">*</span></mat-label>
                    <mat-form-field appearance="outline" class="w-100" color="primary">
                        <input matInput [matDatepicker]="picker" formControlName="date" placeholder="Choose a date">
                        <mat-hint class="p-l-0">MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>

            </div>
        </form>
    </mat-card-content>

</mat-card>
<mat-dialog-actions align="end">
    <button matButton mat-dialog-close (click)="onCancel()">Cancel</button>
    <button type="button" mat-flat-button color="primary" type="button" (click)="onSubmit()" class="m-r-8"
        [disabled]="transactionForm.invalid">Update</button>
</mat-dialog-actions>