<h2 mat-dialog-title>Edit Category</h2>
<!-- <mat-dialog-content class="mat-typography"> -->
  <mat-card class="cardWithShadow theme-card">
  <!-- <mat-card-header>
    <mat-card-title class="m-b-0">Edit Category</mat-card-title>
  </mat-card-header> -->
  <mat-card-content class="b-t-1">
    <form [formGroup]="categoryForm">
      <div class="row">
        <div class="col-lg-6">
          <!-- input -->
          <mat-label class="f-w-600 m-b-8 d-block">Name <span class="text-error">*</span></mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput placeholder="Enter Category Name" formControlName="category_name" />
          </mat-form-field>
        </div>

        <div class="col-lg-6">
          <!-- input -->
          <mat-label class="f-w-600 m-b-8 d-block">Description</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <textarea matInput type="text" placeholder="Enter Description" formControlName="description"></textarea>
          </mat-form-field>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-dialog-actions align="end">
  <button matButton mat-dialog-close>Cancel</button>
  <button type="button" mat-flat-button color="primary" (click)="onSubmit()" class="m-r-8" [disabled]="categoryForm.invalid"
          >Update</button>
</mat-dialog-actions>
</mat-card>
